# initial - no remote state for terraform
terraform.tfstate
# no terraform cruft.  why isn't state in this folder..
.terraform
# bad idea to store keys locally.  Worse to check them in to source control
.keys

# vim <3
.*.sw?
*.sw?
